@model IEnumerable<UserApplication.Models.RegisterModel>

@{
    ViewData["Title"] = "AllUsers";
}

<h1>AllUsers</h1>

<p>
    <a asp-action="RegisterUser">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                <a onclick="ShowInPopup('@Url.Action("RegisterUser","Register",null,Context.Request.Scheme)')" class="btn btn-success text-white"><i class="fas fa-random"></i>Create New</a>
            </th>

            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                
                <a onclick="ShowInPopup('@Url.Action("EditUser","Register",new{id=item.UserId},Context.Request.Scheme)')" class="btn btn-success text-white"><i class="fas fa-random"></i>Edit</a>|
                <a onclick="ShowInPopup('@Url.Action("Getbyuserid","Register",new{id=item.UserId},Context.Request.Scheme)')" class="btn btn-success text-white"><i class="fas fa-random"></i>Details</a>|
                <a onclick="ShowInPopup('@Url.Action("DeleteUser","Register",new{id=item.UserId},Context.Request.Scheme)')" class="btn btn-success text-white"><i class="fas fa-random"></i>Delete</a>
                @* <a asp-action="EditUser" asp-route-id="@item.UserId">Edit</a> *@ 
               @*  <a asp-action="Getbyuserid" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="DeleteUser" asp-route-id="@item.UserId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
